<div>
  <div class="container-fluid">
    <h3 class="text-center text-uppercase">Quản lý thể loại sách</h3>
    <div class="flex-between my-3">
      <form class="position-relative">
        <input
          type="search"
          class="form-control width-300"
          #searchInput
          placeholder="Nhập thể loại sách"
          autocomplete="off"
        />
      </form>
      <div>
        <button type="button" class="btn btn-primary mx-2" routerLink="/create-category">Thêm loại sách mới</button>
        <button type="button" class="btn btn-success" (click)="refreshPage()">
          <i class="fa fa-refresh"></i> Làm mới trang
        </button>
      </div>
    </div>
    <div class="overflow-x w-100">
      <table class="table table-striped table-bordered table-hover table-scroll-body">
        <thead class="table-header">
          <tr>
            <th scope="col"><p class="width-50 text-center my-0">STT</p></th>
            <th scope="col"><p class="row-20 flex-between my-0">
              Tên thể loại
              <i class="fa fa-sort"
                [ngClass]="{
                  'icon-sort': !checkSort('name'),
                  'icon-sort-active': checkSort('name')
                }"
                (click)="sortByColumn('name')"
              ></i></p>
            </th>
            <th scope="col"><p class="width-100 flex-between my-0">
              Số sách
              <i class="fa fa-sort"
                [ngClass]="{
                  'icon-sort': !checkSort('amount'),
                  'icon-sort-active': checkSort('amount')
                }"
                (click)="sortByColumn('amount')"
              ></i></p>
            </th>
            <th scope="col"><p class="row-35 flex-between my-0">
              Mô tả
              <i class="fa fa-sort"
                [ngClass]="{
                  'icon-sort': !checkSort('description'),
                  'icon-sort-active': checkSort('description')
                }"
                (click)="sortByColumn('description')"
              ></i></p>
            </th>
          </tr>
        </thead>
  
        <tbody>
          <tr *ngFor="let category of listCategory | slice: (page-1) * pageSize : page * pageSize; let index = index">
            <td scope="row">
              <div class="text-center width-50">{{ (page-1)*pageSize + index + 1 }}</div>
            </td>
            <td>
              <div class="text-overflow row-20 text-left">
                <span class="text-link-hover" (click)="onClickDetail(category.id)">{{ category.name }}</span>
              </div>
            </td>
            <td>
              <div class="text-overflow width-100 text-right">
                {{ category.amount }}
              </div>
            </td>
            <td>
              <div class="text-overflow row-35" 
                placement="top" ngbTooltip="{{category.description | slice: 0 : 400}}">
                {{ category.description }}
              </div>
            </td>
            <td>
              <div class="width-80">
                <button class="btn btn-sm btn-outline-success mx-1" (click)="onClickEdit(category.id)">
                  <i class="fa fa-pencil-square-o"></i>
                </button>
                <button class="btn btn-sm btn-outline-danger" (click)="onClickDelete(category.id, category.name)">
                  <i class="fa fa-trash-o"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      *ngIf="listCategory && listCategory.length == 0"
      style="text-align: center; display: contents"
    >
      <p>Không có mục hiển thị nào!</p>
    </div>
    <div class="flex-between">
      <div class="mx-3">
        <div class="row width-150">
          <label class="col-6 p-0 line-height-40">Hiển thị </label>
          <select
            class="col form-control"
            [(ngModel)]="pageSize"
            (change)="page=1"
          >
            <option [value]="3">3</option>
            <option [value]="5">5</option>
            <option [value]="10">10</option>
            <option [value]="15">15</option>
            <option [value]="listCategory.length">Tất cả</option>
          </select>
        </div>
      </div>
      <div *ngIf="listCategory && listCategory.length != 0">
        <div class="row">
          <div class="col-sm-12 col-md-5 text-right paging-display">
            <label *ngIf="listCategory.length == 0">Hiển thị: 0 sách</label>
            <label
              *ngIf="page * pageSize < listCategory.length && listCategory.length != 0"
              class="line-height-40"
            >
              Hiển thị: {{ (page - 1) * pageSize + 1 }} -
              {{ page * pageSize }} trên {{ listCategory.length }} sách
            </label>
            <label
              *ngIf="page * pageSize >= listCategory.length && listCategory.length != 0"
              class="line-height-40"
            >
              Hiển thị: {{ (page - 1) * pageSize + 1 }} -
              {{ listCategory.length }} trên {{ listCategory.length }} sách
            </label>
          </div>
          <div class="col-sm-12 col-md-3">
            <div
              class="dataTables_paginate paging_simple_numbers"
              style="padding: 0"
            >
              <ngb-pagination
                [(page)]="page"
                [pageSize]="pageSize"
                [collectionSize]="listCategory.length"
                [boundaryLinks]="true"
              >
                <ng-template ngbPaginationPages let-page let-pages="pages">
                  <li *ngIf="pages.length > 0">
                    <div class="form-group d-flex flex-nowrap pagination-input px-2">
                      <label
                        id="paginationInputLabel"
                        for="paginationInput"
                        class="col-form-label mr-10"
                        >Trang</label
                      >
                      <input
                        #inputPagination
                        type="number"
                        class="form-control custom-pages-input width-70"
                        id="paginationInput"
                        [value]="page"
                        min="1"
                        max="{{pages.length}}"
                        pattern="[0-9]+"
                        (input)="checkInputNavigation(inputPagination.value, pages.length)"
                        (keyup.enter)="changePage(inputPagination.value)"
                        [ngClass]="{
                          'is-invalid': !isValidPaginatinInput
                        }"
                      />
                      <span
                        id="paginationDescription"
                        class="col-form-label text-nowrap px-2"
                      >
                        / {{ pages.length }}</span
                      >
                    </div>
                  </li>
                </ng-template>
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
<ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
  <p class="loading">Loading...</p>
</ngx-spinner>
