<div>
  <div class="container-fluid">
    <h3 class="text-center text-uppercase">Quản lý kho</h3>
    <div>
      <button class="btn btn-outline-primary mx-1">Tất cả sách</button>
      <button class="btn btn-outline-success mx-1">Sách bán chạy</button>
      <button class="btn btn-outline-warning mx-1">Sách sắp hết</button>
      <button class="btn btn-outline-danger mx-1">Sách tồn kho</button>
    </div>
    <div class="flex-between my-3">
      <form class="position-relative">
        <input
          type="search"
          class="form-control width-300"
          #searchInput
          placeholder="Nhập thể loại sách"
          autocomplete="off"
        />
      </form>
      <div class="col-3 text-right">
        <button class="btn btn-success mx-2"><i class="fa fa-plus-square"></i> Nhập kho</button>
        <button class="btn btn-primary"><i class="fa fa-minus-square"></i> Xuất kho</button>
      </div>
    </div>
    <div class="overflow-x w-100">
      <table class="table table-striped table-bordered table-hover table-scroll-body">
        <thead class="table-header">
          <tr>
            <th scope="col"><p class="width-35 text-center my-0">STT</p></th>
            <th scope="col"><p class="row-20 flex-between my-0">
              Tên sách
              <i class="fa fa-sort"
                [ngClass]="{
                  'icon-sort': !checkSort('name'),
                  'icon-sort-active': checkSort('name')
                }"
                (click)="sortByColumn('name')"
              ></i></p>
            </th>
            <th scope="col"><p class="row-15 flex-between my-0">
              Giá tiền
              <i class="fa fa-sort"
                [ngClass]="{
                  'icon-sort': !checkSort('price'),
                  'icon-sort-active': checkSort('price')
                }"
                (click)="sortByColumn('price')"
              ></i></p>
            </th>
            <th scope="col"><p class="width-100 flex-between my-0">
              Số lượng
              <i class="fa fa-sort"
                [ngClass]="{
                  'icon-sort': !checkSort('quantity'),
                  'icon-sort-active': checkSort('quantity')
                }"
                (click)="sortByColumn('quantity')"
              ></i></p>
            </th>
            <th scope="col"><p class="row-27 flex-between my-0">
              Mô tả
              <i class="fa fa-sort"
                [ngClass]="{
                  'icon-sort': !checkSort('description'),
                  'icon-sort-active': checkSort('description')
                }"
                (click)="sortByColumn('description')"
              ></i></p>
            </th>
          </tr>
        </thead>
  
        <tbody>
          <tr *ngFor="let book of listBook | slice: (page-1) * pageSize : page * pageSize; let index = index">
            <td scope="row">
              <p class="text-center width-35">{{ (page-1)*pageSize + index + 1 }}</p>
            </td>
            <td>
              <div class="text-overflow row-20 text-left">
                <span class="text-link-hover" (click)="onClickDetail(book.id)">{{ book.name }}</span>
              </div>
            </td>
            <td>
              <div class="text-overflow row-15 text-right">
                {{ book.price | number }}đ
              </div>
            </td>
            <td>
              <div class="text-overflow width-100 text-right">
                {{ book.quantity }}
              </div>
            </td>
            <td>
              <div class="text-overflow row-27" 
                placement="top" ngbTooltip="{{book.description | slice: 0 : 400}}">
                {{ book.description }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      *ngIf="listBook && listBook.length == 0"
      style="text-align: center; display: contents"
    >
      <p>Không có mục hiển thị nào!</p>
    </div>
    <div class="flex-between">
      <div class="mx-3">
        <div class="row width-150">
          <label class="col-6 p-0 line-height-40">Hiển thị </label>
          <select
            class="col form-control"
            [(ngModel)]="pageSize"
            (change)="page=1"
          >
            <option [value]="3">3</option>
            <option [value]="5">5</option>
            <option [value]="10">10</option>
            <option [value]="15">15</option>
            <option [value]="listBook.length">Tất cả</option>
          </select>
        </div>
      </div>
      <div *ngIf="listBook && listBook.length != 0">
        <div class="row">
          <div class="col-sm-12 col-md-5 text-right paging-display">
            <label *ngIf="listBook.length == 0">Hiển thị: 0 sách</label>
            <label
              *ngIf="page * pageSize < listBook.length && listBook.length != 0"
              class="line-height-40"
            >
              Hiển thị: {{ (page - 1) * pageSize + 1 }} -
              {{ page * pageSize }} trên {{ listBook.length }} sách
            </label>
            <label
              *ngIf="page * pageSize >= listBook.length && listBook.length != 0"
              class="line-height-40"
            >
              Hiển thị: {{ (page - 1) * pageSize + 1 }} -
              {{ listBook.length }} trên {{ listBook.length }} sách
            </label>
          </div>
          <div class="col-sm-12 col-md-3">
            <div
              class="dataTables_paginate paging_simple_numbers"
              style="padding: 0"
            >
              <ngb-pagination
                [(page)]="page"
                [pageSize]="pageSize"
                [collectionSize]="listBook.length"
                [boundaryLinks]="true"
              >
                <ng-template ngbPaginationPages let-page let-pages="pages">
                  <li *ngIf="pages.length > 0">
                    <div class="form-group d-flex flex-nowrap pagination-input px-2">
                      <label
                        id="paginationInputLabel"
                        for="paginationInput"
                        class="col-form-label mr-10"
                        >Trang</label
                      >
                      <input
                        #inputPagination
                        type="number"
                        class="form-control custom-pages-input width-70"
                        id="paginationInput"
                        [value]="page"
                        min="1"
                        max="{{pages.length}}"
                        pattern="[0-9]+"
                        (input)="checkInputNavigation(inputPagination.value, pages.length)"
                        (keyup.enter)="changePage(inputPagination.value)"
                        [ngClass]="{
                          'is-invalid': !isValidPaginatinInput
                        }"
                      />
                      <span
                        id="paginationDescription"
                        class="col-form-label text-nowrap px-2"
                      >
                        / {{ pages.length }}</span
                      >
                    </div>
                  </li>
                </ng-template>
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
  <p class="loading">Loading...</p>
</ngx-spinner>
